---
dependency:
  name: galaxy
driver:
  name: docker
lint:
  name: yamllint
  options:
    config-data:
      line-length: disable
platforms:
  - name: ansible-portainer
    image: docker:dind
    privileged: true
    command: "dockerd"
provisioner:
  name: ansible
  options:
    v: true
  lint:
    name: ansible-lint
scenario:
  name: default
verifier:
  name: testinfra
  lint:
    name: flake8
